{% extends '_base.html.twig' %}

{% block pageTitle %}NURLs{% endblock %}

{% block body %}

    {{ dump() }}

    <ul>
        {% for nurl in nurls %}
            <li>
                id = {{ nurl.id }}
                <br>
                name = {{ nurl.title }}
            </li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{{ path('nurls_new_form')}}">
        create NEW nurl
    </a>

{% endblock %}