{% extends '_base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block body %}

    <h1>Welcome to NURL Manager!</h1>

    <p>
        This is an online NURL Manager.

    </p>

{% endblock %}

